.QAHA{
    list-style-type: none;
    background-color: RED;
    
    overflow: hidden;
    margin: 0PX;
    padding: 0PX;
}
  


.QAHA li{
    float: right;
    display: inline-block;
    color: green;
    padding: 15px;
}