*{
    margin: 0px;
    padding: 0px;
}

.Mahesh  {
    text-align: center;
    background-color: green;
    font-family: 'Lora', serif;
font-family: 'Roboto Condensed', sans-seri
   
}
.hi{
    background-color: orange;
    margin-top: 20px;

}